@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Russo+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

@import 'tailwindcss';
@plugin '@tailwindcss/typography';
@plugin 'daisyui';

@theme {
	--font-rubik: 'Rubik', sans-serif;
	--font-russo: 'Russo One', sans-serif;
	--font-bebas: 'Bebas Neue', cursive;
	--color-primary: #ed1c23;
	--animate-marquee: marquee 25s linear infinite;
	--animate-marquee2: marquee2 25s linear infinite;
	--animate-marquee-inverted: marquee-inverted 25s linear infinite;
	--animate-marquee2-inverted: marquee2-inverted 25s linear infinite;
	--animate-shake: shake 5s ease-in-out infinite;

	@keyframes shake {
		0%,
		24%,
		28%,
		100% {
			transform: translateX(0);
		}
		25% {
			transform: translateX(-5px) rotate(-30deg) scale(1.1);
		}
		26% {
			transform: translateX(5px) rotate(20deg) scale(1.08);
		}
		27% {
			transform: translateX(-5px) rotate(-10deg) scale(1.06);
		}
	}

	@keyframes mask-shine {
		0% {
			-webkit-mask-position: 150% 150%;
		}
		15% {
			-webkit-mask-position: -50% -50%;
		}
		100% {
			-webkit-mask-position: -50% -50%;
		}
	}

	@keyframes marquee {
		0% {
			transform: translateX(0%);
		}
		100% {
			transform: translateX(100%);
		}
	}
	@keyframes marquee2 {
		0% {
			transform: translateX(-100%);
		}
		100% {
			transform: translateX(0%);
		}
	}

	@keyframes marquee-inverted {
		0% {
			transform: translateX(0%);
		}
		100% {
			transform: translateX(-100%);
		}
	}
	@keyframes marquee2-inverted {
		0% {
			transform: translateX(100%);
		}
		100% {
			transform: translateX(0%);
		}
	}
}

@layer utilities {
	.text-mask-shine {
		mask-image: linear-gradient(-75deg, rgba(0, 0, 0, 0.75) 25%, #000 30%, rgba(0, 0, 0, 0.75) 35%);
		mask-size: 200% 200%;
		animation: mask-shine 4s linear infinite;
	}
}

@layer components {
	.diff-item-1 {
		border-right: white 3px solid !important;
		box-shadow: 5px 0 5px -2px rgba(0, 0, 0, 0.3) !important;
	}
	.diff-item-2::after {
		background-color: white !important;
		border: 2px solid black !important;
		outline: none !important;
	}
}

html,
body {
	font-family: var(--font-rubik);
	height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6,
.font-russo {
	font-family: var(--font-bebas);
}
